<!DOCTYPE html>
<title>{% block title %}{% endblock %} - GPT Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav>
    <h1>GPT Chat App</h1>
</nav>
<section class="content">
    <div class="response-content">
        <div class="message">
            {% block content %}
            {% for message in messages %}
                <div class="message-header">
                    {% if  message['reply'] == 0 %}
                        <img src="{{ url_for('static', filename='/images/user_icon.png') }}" alt="User icon">
                        <p>User</p>
                    {% else %}
                        <img src="{{ url_for('static', filename='/images/bot_icon.png') }}" alt="Bot icon">
                        <p>Bot</p>
                {% endif %}
                </div>
                <div class="message-body">
                    <p class="date">{{ message['created'] }}</p>
                    <p>{{ message['message'] }}</p>
                </div>
                <br>
            {% endfor %}
        {% endblock content %}
        </div>
    </div>
    <form action="{{ url_for('chat.submit_query') }}" method="post" class="query-form">
        <textarea placeholder="Enter a query..." class="query-box" name="query" id="query" required>{{ request.form['query'] }}</textarea>
        <input type="submit" value="Submit" class="submit-button">
    </form>
</section>
